form input {
    margin: 10px;
    width: 40vw;
    background-color: lightgrey;
    font-size: 16px;
}

form button {
    padding: 5px;
    margin: 10px;
    max-width: 40vw;
    min-width: 15vw;
    background-color: lightblue;
    border: 1px solid lightgrey;
    border-radius: 6px;
    font-size: 16px;
}

form label {
    font-size: 18px;
    margin: 0 10px;
}

textarea {
    height: 100px;
    width: 300px;
    resize: none;
    overflow: visible;
    font-size: 14px;
    line-height: 16px;
    border: 2px solid darkgrey;
}

.loginForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 35vw;
}

.loginForm input {
    width: 45vw;
}

.searchUsers {
    display: flex;
    align-items: center;
}

.searchUsers input {
    height: 42px;
    width: 100%;
    margin: 0;
    font-size: 22px;
    border: 2px solid darkgrey;
}

.searchButton {
    height: 46px;
    margin: 0;
    padding: 0;
    border: 2px solid darkgrey;
    background: lightgrey;
    border-radius: 0;
}

.searchButton svg {
    width: 36px;
    height: 36px;
}

.makeAccount {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.chooseAvatar {
    display: flex;
    flex-flow: column nowrap;
}

.changeBio {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
}

.changeBio textarea {
    margin: 10px;
}

.changePassword {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
}

.changeEmail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0;
}

.roses {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 54px;
}

.roseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    margin: 0 5px;
    min-width: 0;
    padding: 0;
    height: 42px;
}

.roses p {
    font-size: 26px;
    width: 20px;
    text-align: right;
}

.postSettingsForm button {
    font-size: 15px;
}

.followForm {
    /* margin: 5px 2.5vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.followForm button {
    margin: 0;
}

.commentForm {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.commentForm textarea {
    height: 24px;
    max-height: 300px;
    resize: vertical;
}

.commentForm button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    height: 28px;
}

/* SEARCHED POSTS */

.postItems {
    display: flex;
    flex-direction: column;
    margin: 2vh 2vw;
    border-bottom: 2px solid orange;
}

.postImages {
    width: 20vw;
    height: auto;
}

.userLink {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}
