.posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90vw;
    margin: 5vw;
    margin-bottom: 72px;
}

.previewPosts {
    width: 40vw;
    height: 40vw;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: 2px 2px 2px 2px black;
    display: flex;
    justify-content: center;

}

.previewPosts img {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.post {
    margin: 20px;
    margin-bottom: 100px;
}
/* .postImage {
    width: 100%;
    max-height: 370px;
    margin-top: 20px;
} */

.feed {
    margin-bottom: 76px;
}

.feedPosts {
    display: flex;
    flex-flow: column nowrap;
    width: 90vw;
    margin: 5%;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}

.caption {
    width: 300px;
    max-height: 100px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 8px;
}

.postsImage {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 370px;
    max-height: 390px;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
}

.postsImage img {
    /* width: 100%; */
    margin-top: 20px;
    height: 370px;
}

.dropdownPostSettings {
    position: absolute;
    display: inline-block;
    right: 20px;
    width: 120px;
    top: calc(60px - 24px);
}

.dropdownFeedSettings {
    position: absolute;
    display: inline-block;
    right: 20px;
    width: 120px;
    z-index: 0;
}

.dropdownFeedSettings p {
    float: right;
    width: 70%;
}

.postSettings {
    display: none;
    position: relative;
    float: left;
    background: rgba(0, 0, 0, 0.7);
    width: 120px;
    top: 0;
}

.dropdownPostSettings p {
    float: right;
    width: 65%;
}

.postSettings form {
    width: 100%;
}

.postSettings button {
    background: none;
    border: none;
    width: 90%;
    padding: 0;
    color: white;
}

.dropdownPostSettings:hover .postSettings {
    display: block;
}

.dropdownFeedSettings:hover .postSettings {
    display: block;
}

.roses {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.postContent {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid lightgrey;
}

.noPostsText {
    text-align: center;
    margin: 10px;
}

.noPost {
    display: flex;
    flex-flow: column nowrap;
}

.noPost p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.noPost p a {
    margin-left: 10px;
}

.rosePost {
    width: 46px;
    height: 46px;
}

.rosebutton {
    display: flex;
    background: none;
    border: none;
}

.createPost {
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.editPost {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.timeAgo {
    font-weight: 300;
}

.hidden {
    display: none;
}
