.profile {
    display: flex;
    flex-flow: column nowrap;
}

.profileName{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    height: 50px;
    background-color: var(--picture-this-blue);
}

.profileName a{
    position: absolute;
    right: 10px;
}

.profileBio {
    height: 110px;
    width: 250px;
    font-size: 16px;
    box-shadow: 0px 0px 6px black;
    margin: 5px;
    line-height: 19px;
    padding: 5px;
}

.profileInfo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-around;
    padding: 0 2.5vw;
}

.profileInfo img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 52%;
    border-radius: 50%;
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 6px black;
    margin: 7px;
    font-size: 16px;
}

.profileImageFeed {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: 52%;
    border-radius: 50%;
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 6px black;
    margin-right: 10px;
}

.profilePreviewFeed {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 50%;
    text-decoration: none;
}

.profileUsernameFeed {
    color: black;
    font-size: 20px;
}

.profileImageSearch {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: 52%;
    border-radius: 50%;
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 6px black;
    margin-right: 10px;
}

.searchedProfiles {
    width: 95vw;
    margin: 10px;
    margin-bottom: 10px;
    /* border-bottom: 2px solid lightgrey; */
    box-shadow: 1px 1px 6px black;
    border-radius: 5px;
}

.searchedProfiles a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 7px;
    text-decoration: none;
    color: black;
}

.isNotFollowed {
    border-radius: 10px;
    width: 30vw;
    background-color: white;
}

.isFollowed {
    border-radius: 10px;
    width: 30vw;
    background-color: lightgreen;
    border-color: green;
}

.followFunction {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 15px;
}

.followers {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 46px;
    width: 70px;
    padding: 2px;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}
.followers h4 {
    text-align: center;
}

.usersFollowers {
    margin-left: 0;
    float: right;
}

.profileCommentLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
}

.profileCommentLink img {
    height: 38px;
    width: 38px;
}

.cog {
    height: 46px;
    width: 46px;
}
