* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 200vh;
}

:root {
  --accent-color: black;
}

.navbarMobileBox {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 2.5vw;
  height: 40px;
  width: 95vw;
  background-color: #66ccff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  margin-right: 10px;
  color: var(--accent-color);
}

.navList {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 80%;
  list-style: none;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  height: 46px;
  width: 46px;
  text-decoration: none;
}

.loginForm {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 20vw;
}

.makeAccount {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 20vw;
}

.changeBio {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

textarea {
  height: 90px;
  width: 300px;
  resize: none;
  overflow: visible;
  line-height: 15px;
}

.changePassword {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
}

.profileName{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  height: 50px;
  background-color: #66ccff;
}
.profileName a{
    position: absolute;
    right: 10px;
}

.profileBio {
  height: 110px;
  width: 300px;
  font-size: 16px;
  box-shadow: 0px 0px 6px black;
  margin: 5px;
  line-height: 19px;
  padding: 5px;
}

.profileInfo {
  display: flex;
}

.profileInfo h4 {
  font-size: 18px;
}

.profileInfo img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 6px black;
  margin: 7px;
  font-size: 16px;
}

.changeEmail{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.st0{
    fill:#000000;
    stroke:#000000;
    stroke-width:20;
    stroke-miterlimit:10;
}

.st1{
    fill:#66ccff;
}

svg {
    width: 50px;
    height: 50px;
}
